@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Space Grotesk', sans-serif;
}

body {
  @apply bg-gray-900 text-white;
}

html {
  transition: background-color 0.3s ease, color 0.3s ease;
}